/**** MEDIA QUERIES ****/
@mixin phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait {
  @media (max-width: 768px) { @content; }
}
@mixin tablet-landscape {
  @media (max-width: 900px) { @content; }
}
@mixin desktop {
  @media (max-width: 1200px) { @content; }
}
@mixin big-desktop {
  @media (max-width: 1800px) { @content; }
}

.form {
    position: absolute;
    width: 700px;
    height: 40vh;
    padding: 30px 50px;
    background-color: #dbdbdb;
    top: 120px;
    right: -700px;
    transition: all ease 0.3s;
    z-index: 99;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    @include tablet-portrait() {
        width: auto;
        height: auto;
        position: fixed;
    }

    @include phone-only() {
        width: auto;
    }

    .closeForm {
        position: absolute;
        right: 20px;
        top: 20px;
        transform: scale(1.4);

        svg {
            fill: $primary;
        }
    }

    h2 {
        color: $primary;
        font-weight: 500;
    }

    form {
        display: flex;
        flex-direction: column;

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            margin-bottom: 10px;
            font-size: 0.8em;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 0;
            font-weight: 500;
            border-bottom: 2px solid #fff;
            outline: none;
            -webkit-appearance: none;
            transition: all ease 0.2s;

            &:focus {
                //border-color: $secondary;
                transition: all ease 0.2s;
            }
        }

        input[type="submit"] {
            //background-color: $secondary;
            color: #fff;
            display: inline-block;
            position: absolute;
            right: 20px;
            bottom: 20px;
            border: 0;
            text-align: right;
            text-transform: uppercase;
            font-size: 0.9em;
            padding: 5px 30px;
            font-weight: 600;

            @include tablet-portrait() {
                position: initial;
                text-align: center;
            }
        }
    }

    &.expanded {
        right: 0;
        transition: all ease 0.3s;

        @include tablet-portrait() {
            left: 0;
        }
    }
}